@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q4y4fa');
  src:  url('fonts/icomoon.eot?q4y4fa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q4y4fa') format('truetype'),
    url('fonts/icomoon.woff?q4y4fa') format('woff'),
    url('fonts/icomoon.svg?q4y4fa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e914";
}
.icon-list:before {
  content: "\e913";
}
.icon-loop .path1:before {
  content: "\e909";
  color: rgb(0, 0, 0);
}
.icon-loop .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(5, 5, 5);
}
.icon-next:before {
  content: "\e90b";
}
.icon-next-1:before {
  content: "\e90c";
}
.icon-pause:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e90f";
}
.icon-prev:before {
  content: "\e910";
}
.icon-prev-1:before {
  content: "\e911";
}
.icon-random:before {
  content: "\e912";
}
.icon-user-circle-o:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e901";
}
.icon-head:before {
  content: "\e901";
}
.icon-refresh:before {
  content: "\e902";
}
.icon-tag:before {
  content: "\e903";
}
.icon-switch:before {
  content: "\e904";
}
.icon-lock:before {
  content: "\e915";
}
.icon-users:before {
  content: "\e905";
}
.icon-user2:before {
  content: "\e906";
}
.icon-screen:before {
  content: "\e916";
}
.icon-tablet:before {
  content: "\e917";
}
.icon-pencil:before {
  content: "\e918";
}
.icon-cog:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-trash-2:before {
  content: "\e919";
}
.icon-unlock:before {
  content: "\e91a";
}
.icon-user3:before {
  content: "\e91b";
}
.icon-x-circle:before {
  content: "\e91c";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-account_balance_wallet:before {
  content: "\e850";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-edit_location:before {
  content: "\e568";
}
.icon-fast_forward:before {
  content: "\e01f";
}
.icon-fast_rewind:before {
  content: "\e020";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-fingerprint:before {
  content: "\e90d";
}
.icon-format_list_bulleted:before {
  content: "\e241";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-star:before {
  content: "\e838";
}
.icon-headset:before {
  content: "\e310";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-last_page:before {
  content: "\e5dd";
}
.icon-mic_none:before {
  content: "\e02a";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-pause_circle_outline:before {
  content: "\e036";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-playlist_add:before {
  content: "\e03b";
}
.icon-playlist_add_check:before {
  content: "\e065";
}
.icon-reply_all:before {
  content: "\e15f";
}
.icon-settings_phone:before {
  content: "\e8c5";
}
.icon-settings_system_daydream:before {
  content: "\e1c3";
}
.icon-share:before {
  content: "\e80d";
}
.icon-skip_next:before {
  content: "\e044";
}
.icon-skip_previous:before {
  content: "\e045";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-star_half:before {
  content: "\e839";
}
.icon-wifi:before {
  content: "\e63e";
}
