@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #58d3e2;
}
a:hover {
	text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
input, textarea, button, a {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-appearance: none;
}
body {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	color: #666;
	font-family: 'Lucida Grande', 'Helvetica', 'Microsoft yahei', 'STHeiti';
}
a, img {
	-webkit-touch-callout: none;
}
.clearfix::after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '.';
}
html {
	height: 100%;
	font-size: 16px;
}
img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
*:focus { outline: none; }
a{
	color: #333;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	-webkit-text-fill-color: #333;
}

 * { touch-action: pan-y; } 